SasJobs.Api/Service References/BackgroundWorker/SasJobs.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SasJobs.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SasJobs.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="JobSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlInputData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobSettings" nillable="true" type="tns:JobSettings" />
  <xs:complexType name="JobFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedbackMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="ser:guid" />
      <xs:element minOccurs="0" name="PercentComplete" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobFeedback" nillable="true" type="tns:JobFeedback" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Done" />
      <xs:enumeration value="Aborted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
</xs:schema>