SasJobs.Api/Service References/BackgroundWorker/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SasJobs.Messages" />
  <xs:element name="BeginJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SasJobs.Messages" minOccurs="0" name="settings" nillable="true" type="q1:JobSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SasJobs.Messages" minOccurs="0" name="feedback" nillable="true" type="q2:JobFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SasJobs.Messages" minOccurs="0" name="feedback" nillable="true" type="q3:JobFeedback" />
        <xs:element minOccurs="0" name="xmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>